body {
    /*more on this crazy alphanumerical value in a minute!*/
    color: #39a6b2;
    font-family: Helvetica, arial, sans-serif;
    /* Apply styles to header*/
}

header {
    padding: 20px
}

header {
    padding:20px 35px;
}
header 
padding-top:10px;
padding-right:15px;
padding-bottom:20px;
 